:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--main-bg:hsl(218, 28%, 13%);
	--nav-bg:hsl(217, 28%, 15%);
	--btn-gradient-1:hsl(176, 68%, 64%);
	--btn-gradient-2:hsl(198, 60%, 50%);
}
